*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(226, 226, 226);
}
@font-face
{
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?oifpaf');
    src:  
        url('../fonts/icomoon.eot?oifpaf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?oifpaf') format('truetype'),
        url('../fonts/icomoon.woff?oifpaf') format('woff'),
        url('../fonts/icomoon.svg?oifpaf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.bgc_transparent
{
    background-color: transparent;
}
.top
{
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0px -12px 20px black;
    width: 100%;
    height: 100px;
    background-color: #dff1ff;
    transition: all 0.1s linear;
}
.top:hover
{
    box-shadow: 0px -5px 20px black;
}
.artfont
{
    float: left;
    height: 100px;
    font-size: 210%;
    background-color: transparent;
    line-height: 100px;
    margin-left: 6%;
}
.artfont a
{
    color: #000;
    font-family: Ink free,cursive,LiSu,sans-serif;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
.artfont a:hover
{
    font-size: 45px;
    color: #125e25;
}
.main
{
    height: 1200px;
    padding: 60px;
    background-color: transparent;
}
.content_box
{
    position: relative;
    float: left;
    width: 60%;
    min-height: 1100px;
    background-color: white;
    border-radius: 7px;
    padding: 50px;
    box-sizing: border-box;
} 
.nav
{
    position: sticky;
    top: 160px;
    z-index: 0;
    float: left;
    width: 20%;
    height: 500px;
    border-radius: 7px;
    background-color: rgb(225, 246, 255);
    border: 2px solid rgb(255, 195, 245);
    box-sizing: border-box;
    margin-top: 200px;
    margin-left: 11%;
}
.footer
{
    position: relative;
    bottom: 0px;
    height: 350px;
    background-color: rgb(59, 59, 59);
}
.navTitle
{
    padding: 10px;
    background-color: transparent;
}
.navList
{
    line-height: 40px;
    box-sizing: border-box;
    border-left: 10px;
}
.ul
{
    width: 60%;
    margin: 0 auto;
}
.nav ul a
{
    text-decoration: none;
    color: black;
}
.nav ul a:hover
{
    color: rgb(173, 80, 26);
    text-decoration: underline;
}
.contact
{
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    color: rgb(226, 226, 226);
}
.contact_a
{
    color: rgb(199, 199, 199);
    font-size: 30px;
    text-decoration: none;
    font-weight: 30px;
}
.platform
{
    position: absolute;
    left: 50%;
    margin-top: 25px;
    width: 19%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btm-descr
{
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}
.btm-descr p
{
    font-style: italic;
    color: rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cpyrt
{
    font-size: 14px;
    color: rgb(214, 214, 214);;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}