*
{
    padding: 0;
    margin: 0;
    font-family: 'Impact', 'Consolas', '黑体', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.passage
{
    color: red;font-size: 3px;text-align: right;
}
body
{
    background-color: rgb(199, 241, 255);
}
.title 
{
    font-size: 70px;
}
.bilibili
{
    float: left;
    background-color: pink;
    background-image: url("../icon/bilibili.ico");
    background-repeat: no-repeat;
    background-position: 20px;
    color: rgb(241, 136, 45);
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
}
.bilibili a
{
    padding-left: 20px;
}
.netease
{
    float: right;
    background-color: red;
    text-align: center;
    color: blue;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
}
.netease a
{
    float: left;
}
.netease .netease_ico
{
    float: left;
    width: 33px;
    height: 33px;
    margin-top: 9px;
    margin-left: 33px;
    background-image: url(../sprite/netease_sprite.png);
    background-position: 0 -19px;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
}
a:hover
{
    color: rgb(238, 175, 38);
    text-decoration: underline;
}
a:active
{
    color: rgb(156, 143, 26);
}
.header
{
    height: 100px;
    background-color: rgb(249, 255, 190);
}
.header_icon a img
{
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 30px;
}
.bigtitle
{
    text-align: center;
    color: rgb(162, 223, 49);
    text-shadow: 3px 2px 4px black;
    line-height: 100px;
}
.nav
{
    float: right;
    position: absolute;
    right: 100px;
    height: 100px;
    line-height: 100px;
}
.intro
{
    margin: auto;
    width: 180px;
    height: 70px;
    text-align: center;
    /* border: 3px solid rgb(61, 119, 243); */
    background-color: rgb(143, 178, 255);
    border-radius: 15px;
    line-height: 70px;
}
.intro:hover
{
    background-color: rgb(237, 243, 255);
    border-radius: 0px;
}
h3
{
    text-align: center;
}
.platform
{
    width: 374px;
    margin: 20px auto;
}
.building
{
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color: rgba(158, 158, 158, 0.527);
    margin: 100px auto;
}
