*
{
    padding: 0;
    margin: 0;
    font-family: 'Impact', 'Consolas', '黑体', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    list-style: none;
}
div.table
{
    width: 200px;
    margin: 0 auto;
}
.red
{
    background-color: red;
}
.box
{
    width: 200px;
    height: 200px;
}
#identify
{
    background-color: aqua;
}