.main
{
    height: auto;
}
.btn_box
{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 40px;
}
.btn
{
    width: 150px;
    border: 0;
    background-color: rgb(219, 171, 80);
    border-radius: 10px;
    transition: all 0.1s ease;
}
.btn:hover
{
    background-color: rgb(235, 195, 122);
}
.btn:active
{
    background-color: rgb(167, 123, 43);
    box-shadow: inset 0 2px 2px rgb(139, 102, 33);
    height: 37px;
}
.btn_box,.btn
{
    height: 40px;
}
hr
{
    margin: 20px 0;
}